@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

#Nav {
    font-family: "lobster", sans-serif;
    font-weight: bold;
    font-size: x-large;
    text-transform: uppercase;
}


/*--------------------------- Header*/

.h1 {
    font-size: 70px;
    font-family: "lobster", sans-serif;
}


/*--------------------------- Home*/

.home {
    background: url('../band_material/images/monkees.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000;
    background-size: cover;

    height: 100vh;
}


/*----------------------------- About*/

#about {
    background-repeat: no-repeat;
    background-color: #c4c4c4;
    background-position: center;
    font-family: "roboto", sans-serif;
}

.header_1 {
    text-align: center;
    margin-top: 30px;
}

.jumbotron_own_1 {
    font-family: "lobster", sans-serif;
    font-size: 1.8em;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
}

.image {
    text-align: center;
    width: 100%;
    height: 100%;
}

.band_text {
    font-family: "roboto", sans-serif;
    margin-top: 25px;
}


/*----------------------------- Music*/

#music {
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: center;
    font-family: "roboto", sans-serif;
}


#video_music {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.head_music {
    font-family: "lobster", sans-serif;
    font-size: 1.5em;
    text-align: center;
}

.jumbotron_own {
    font-family: "lobster", sans-serif;
    font-size: 1.8em;
    text-align: center;
    background-color: #c4c4c4;
    border-radius: 50%;
}

.song_title {
    font-family: "roboto", sans-serif;
    font-size: 1.5em;
    font-style: oblique;
    margin-top: 35px;
    text-align: center;
}

.song {
    color: grey;
    padding-bottom: 40px;
    text-align: center;
}

audio {
    width: 300px;
    height: 35px;
    text-align: center;
}


/*----------------------------- Booking*/

#booking {
    background-repeat: no-repeat;
    background-color: #c4c4c4;
    background-position: center;
    font-family: "roboto", sans-serif;
    padding-bottom: 50px;
}

.header_2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.form_formatting {
    margin-top: 25px;
    font-family: "roboto", sans-serif;
}

.button_position {
    text-align: center;
}

.align_form {
    text-align: center;
}

.fa-envelope {
    font-size: 100px;
    padding-bottom: 30px;
}


/*----------------------------- Footer*/

#footer_details {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2em;
}

/*---------------------------- Social media icons*/

.fa-facebook {
    color: #000;
    padding-right: 25px;
}

.fa-twitter {
    color: #000;
    padding-right: 25px;
}

.fa-youtube {
    color: #000;
}

/*----------------------------- Media queries*/

@media (min-width: 556px) {
    audio {
        width: 400px;
        height: 35px;
    }
}


@media (min-width: 996px) {
    audio {
        width: 600px;
        height: 35px;
    }
}